[Unit]
After=blk-availability.service local-fs.target remote-fs.target systemd-udev-settle.service
Wants=blk-availability.service local-fs.target remote-fs.target systemd-udev-settle.service
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/storage-setup
