[Unit]
Before=docker.service
Before=consul.service
Before=nomad.service
After=blk-availability.service lvm2-lvmetad.service dm-event.service
Wants=blk-availability.service lvm2-lvmetad.service dm-event.service
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/storage-setup
